channels==4.3.1
click==8.2.1
deep_translator==1.11.4
Django==5.2.6
fastapi==0.115.6
Flask==3.1.2
geoparser==0.2.2
geopy==2.4.1
langdetect==1.0.9
melo==1.1.0
numpy==2.3.2
OSMPythonTools==0.3.6
piper==0.14.4
pydub==0.25.1
Requests==2.32.5
scipy==1.16.1
sounddevice==0.5.2
soundfile==0.13.1
spacy==3.8.7
torch==2.8.0
transformers==4.56.1
webrtcvad==2.0.10
websockets==15.0.1
whisper==1.1.10
